@charset "UTF-8";
.type-pc {display: block;}
.type-mobile {display: none;}
.skip-menu {position: relative;z-index: 9999; 
    a {display: block;height: 1px;width: 1px;margin-bottom: -1px;overflow: hidden;font-size: 20px;color: #fff;font-weight: 600;background: #2466a6;white-space: nowrap;text-align: center;
        &:focus,
        &:active {height: auto;width: auto;padding: 5px;margin-bottom: 10px;position: absolute;left: 0;top: 0;}
    }
}
// 메인
.main {
    .layout-inner {position: relative;}
    .btn-more {position: absolute;right: 14px;
        span {font-weight: 600;font-size: 1.5rem;color: $text-color3;}
    }
    article {padding: 60px 0;position: relative;
        header {margin-bottom: 30px;display: flex;align-items: center;flex-wrap: wrap;}
        h3 {font-size: 3.2rem;font-weight: 600;line-height: 1;display: inline-block;margin-right: 26px;}
        .list-slide-container {overflow: hidden;
            >ul {display: grid;grid-auto-flow: column;
                >li {height: 100%;
                    .ico-info {column-gap: 10px;row-gap: 4px;
                        li {margin-top: 0;margin-right: 0;height: 18px;
                            &::after {display: none;}
                        }
                    }
                    .cont {display: flex;flex-direction: column;min-height: 238px;
                        .ico-info {}
                        // .price-wrap {position: absolute;right: 18px;bottom: 31px;}
                        .bot-wrap {display: flex;align-items: flex-end;margin-top: auto;padding-top: 14px;
                            .price-wrap {margin-left: auto;width: 100px;height: 18px;align-items: baseline;}
                        }
                    }
                }
            }
        }
        // .list-slide-container>ul>li .cont .title {font-size: $font-title;height: 52px;}
        .title {@include font-title;font-size: 2.1rem;}
        .btn-more {top: 7px;}
        &.article1 {
            &::after {content: '';display: block;border-bottom: $border-line2;width: 1200px;position: absolute;@include translate-x;bottom: 0;}
            .list-slide-container>ul>li {
                .ico-info {
                    // li {
                    //     &:nth-child(3) {margin-left: auto;}
                    //     &:last-child {margin-right: 0;}
                    // }
                }
            }
        }
        &.article2 {
            &::after {content: '';display: block;border-bottom: $border-line2;width: 1200px;position: absolute;@include translate-x;bottom: 0;}
            .list-slide-container>ul>li {
                .ico-info {
                    // li {
                    //     &:first-child {margin-right: auto;}
                    //     &:last-child {margin-right: 0;}
                    // }
                }
            }
        }
        &.article3 {border-bottom: 0;
            .list-slide-container>ul>li {
                .ico-info {
                    // li {
                    //     &:nth-child(3) {margin-left: auto;}
                    //     &:last-child {margin-right: 0;}
                    // }
                }
            }
        }
        &.article4 {background: #eaeaea;overflow: hidden;
            .layout-inner {position: relative;z-index: 1;
                &::after {content: '';display: block;width: 623px;height: 608px;background: url('../images/bg_main3.png') 0 0 no-repeat;position: absolute;right: calc(0% - 330px);bottom: -60px;z-index: -1;}
            }
        }
        &.article-haf {border-bottom: 0;padding: 34px 0 60px 0;background: #eaeaea;
            .layout-inner {display: flex;justify-content: space-between;gap: 80px;}
            .article3-1 {position: relative;flex: 1;
                .notice-list {
                    li {height: 60px;background: #fff;display: flex;align-items: center;padding: 0 30px;margin-bottom: 7px;
                        a {display: flex;align-items: center;gap: 18px;justify-content: space-between;width: 100%;}
                        strong {font-size: 1.6rem;color: $text-color3;@include ellipsis-line1;flex: 1;
                            &::before {content: '';width: 5px;height: 5px;background: #000;border-radius: 100%;margin-right: 7px;display: inline-block;vertical-align: middle;margin-top: -4px;}
                        }
                        .date {width: 88px;font-size: 1.4rem;color: $text-color3;text-align: right;}
                        &.none-li {
                            strong {
                                &::before {background: #aaa;}
                            }
                        }
                        &:last-child {margin-bottom: 0;}
                    }
                }
            }
            .article3-2 {position: relative;flex: 1;}
        }
    }
    .main-slide-wrap {border-bottom: 0;position: relative;z-index: 1;
        &::before {@include bg-full;width: 50%;background: #f4f4f4;}
        &::after {@include bg-full;width: 100%;background: #f4f4f4;right: calc(50% - 640px);border-radius: 0 0 200px 0;}
        .layout-inner {}
        .main-visual-wrap {position: relative;}
        .swiper-button-prev, 
        .swiper-container-rtl .swiper-button-next {background-image: url('../images/btn_arrow_slide.png');width: 56px;height: 56px;right: auto;left: -28px;background-size: cover;background-position: 0 0;
            &.swiper-button-lock{display:none}
        }
        .swiper-button-next, 
        .swiper-container-rtl .swiper-button-prev {background-image: url('../images/btn_arrow_slide.png');width: 56px;height: 56px;right: -28px;left: auto;background-size: cover;background-position: -60px 0;
            &.swiper-button-lock{display:none}
        }
    }
    .main-visual-container {padding:1px 0 20px 1px;margin-bottom: -20px;overflow: hidden;
        .main-visual-slide {
            .slide-page {display: flex;/*background: #f4f4f4;*/
                .thumb-wrap {width: 54.16%;height: auto;margin-right: 4.3%;@include box-shadow5;
                    a{display:block;}
                }
                .cont {flex: 1;padding-bottom: 10%;display: flex;flex-direction: column;
                    .title {margin-bottom: 4px;@include ellipsis-line1;/*height: 54px;*/
                        a:focus{outline-offset: -1px;}
                    }
                    .date-wrap {margin: 14px 0;
                        dt,dd {font-size: 1.6rem;}
                    }
                    .btn-wrap {margin-top: auto;}
                    .ico-info {
                        li {margin-right: 16px;font-size: 1.6rem;
                            &::after {display: none;}
                        }
                    }
                }
            }
        }
    }
    .main-thumb-wrap {position: absolute;left: 58.2%;bottom: 20px;width: 40.7%;
        .main-thumb-container {overflow: hidden;margin-right: -1px;
            .main-thumb-slide {
                .slide-page {
                    &.swiper-slide-thumb-active {
                        .thumb-wrap {
                            .thumb {
                                &::before {content: '';display: block;width: 100%;height: 100%;border: 2px solid #000;position: absolute;z-index: 1;box-sizing: border-box;}
                            }
                        }
                    }
                }
            }
        }
    }
    .list-slide-wrap {
        .swiper-button-next, .swiper-button-prev {margin-top: -4.4%;}
        .swiper-button-prev, 
        .swiper-container-rtl .swiper-button-next {background-image: url('../images/btn_arrow_slide.png');width: 56px;height: 56px;right: auto;left: -28px;background-size: cover;background-position: 0 0;
            &.swiper-button-lock{display:none}
        }
        .swiper-button-next, 
        .swiper-container-rtl .swiper-button-prev {background-image: url('../images/btn_arrow_slide.png');width: 56px;height: 56px;right: -28px;left: auto;background-size: cover;background-position: -60px 0;
            &.swiper-button-lock{display:none}
        }
    }
    .list-slide-container {padding: 0 20px 20px 20px;margin-left: -20px;width: 1240px;}

}
.notice-wrap {height: 84px;background: #000;
    dl {display: flex;align-items: center;height: 84px;padding-right: 270px;
        dt {font-size: 1.6rem;font-weight: 600;flex: none;display: inline-flex;align-items: center;color: #fff;
            i {margin-left: 10px;
                &::before {content: '\e050';font-size: 3rem;}
            }
            &::after {@include line-after;vertical-align: middle;margin: 0 10px;}
        }
        dd {display: inline-flex;align-items: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;word-wrap: normal;width: 100%;color: #fff;
            strong {font-size: 1.6rem;flex: 1;display: inline-flex;align-items: center;height: 26px;width: 100%;color: #fff;}
            .flag3 {margin-right: 10px;flex: none;background: none;font-size: 1.6rem;font-weight: 900;color: #e32116;padding: 0;margin-left: 10px;}
            a {@include ellipsis;display: inline-block;line-height: 1;}
            .date {font-size: 1.4rem;width: 110px;text-align: right;color: #fff;}
        }
    }
    .btn-more {@include translate-y;
        span {color: #fff;}
    }
}

.category-area {margin-bottom: 30px;
    ul {display: flex;scroll-behavior: smooth;flex-wrap: nowrap;}
    li {cursor: pointer;flex: 0 0 auto;border: $border-line;margin: 0 6px 0 0;height: 30px;border-radius: 15px;@include btn-flex;
        a {display: block;padding: 0 20px;font-size: 1.5rem;}
        &.on {background: #000;border: 1px solid #000;
            a {color: #fff;}
        }
    }
}
.talk-slide-wrap {
    .talk-slide-container {padding-top: 20px;margin-top: -20px;
        >ul {display: flex;margin-bottom: 37px;
            >li {padding: 30px 30px 24px 30px;background: #fff;position: relative;transition: $trans-hover;
                & > a{display:block;}
                &::before {content: '';display: inline-block;width: 100%;height: 11px;background: url('../images/ico_main_bubble_shadow.png') 0 0 repeat-x;position: absolute;bottom: -11px;left: 0;}
                &::after {content: '';display: inline-block;width: 57px;height: 37px;background: url('../images/ico_main_bubble_arrow.png') 0 0 repeat-x;position: absolute;bottom: -37px;right: 17px;}
                .in {
                    .flag-lg {margin-bottom: 10px;}
                    .title {@include ellipsis-line2;margin-bottom: 14px;height: 48px;
                        a {display: block;}
                    }
                    .text {color: $text-color3;margin-bottom: 24px;@include ellipsis-line2;-webkit-line-clamp: 5;height: 100px;}
                    .foot {
                        .foot-1 {display: flex;align-items: center;
                            .date {font-size: 1.5rem;color: $text-color3;
                                &::before {@include line-after;vertical-align: middle;margin: -2px 4px 0 8px;}
                            }
                        }
                        .foot-2 {padding: 10px 0 0 0;border-top: $border-line;margin-top: 14px;
                            .ico-info {
                                li {margin-right: 16px;
                                    &::after {display: none;}
                                }      
                            }
                        }
                    }
                }
                &:last-child {margin-right: 0;}
                &:hover {margin-top: -20px;
                    & > a{display:block;}
                }
                &.none-text {height: 200px;width: 100%!important;margin: 0;border: 0;display: flex;align-items: center;justify-content: center;background: #f9f9f9;
                    &::before {display: none;}
                    &::after {display: none;}
                    &:hover {box-shadow: none;}
                }
            }
        }
    }
    .swiper-button-prev, 
    .swiper-container-rtl .swiper-button-next {background-image: url('../images/btn_arrow_slide.png');width: 56px;height: 56px;right: auto;left: -28px;background-size: cover;background-position: 0 0;
        &.swiper-button-lock{display:none}
    }
    .swiper-button-next, 
    .swiper-container-rtl .swiper-button-prev {background-image: url('../images/btn_arrow_slide.png');width: 56px;height: 56px;right: -28px;left: auto;background-size: cover;background-position: -60px 0;
        &.swiper-button-lock{display:none}
    }
}
.foot-link {height: 60px;background: #eaeaea;display: flex;align-items: center;gap: 7px;position: relative;
    &::before {@include bg-full;background: #eaeaea;left: 50%;}
    &::after {@include bg-full;background: #eaeaea;right: 50%;}
    a {
        img {display: block;}
    }
}
.foot-info-in {padding: 48px 0;background: #333;display: flex;justify-content: space-between;gap: 40px;position: relative;
    &::before {@include bg-full;background: #333;left: 50%;}
    &::after {@include bg-full;background: #333;right: 50%;}
    h5 {font-size: 2rem;color: #f4f4f4;margin-bottom: 8px;position: relative;height: 48px;
        ins {font-size: 1.5rem;color: #f4f4f4;margin-left: 10px;
            &::before {content: '(';}
            &::after {content: ')';}
        }
        &::before {@include font-icon-rounded;position: absolute;left: 0;top: -4px;}
    }
    .foot-mobile {flex: 1;padding-right: 35px;position: relative;z-index: 1;
        h5 {padding-left: 56px;
            &::before {content: '\e324';font-size: 48px;width: 28px;font-weight: 300;justify-content: center;display: flex;}
        }
        .input-wrap {display: flex;width: 100%;
            input {background: transparent;border-bottom: 1px solid #fff;height: 42px;color: #fff;width: 100%;margin-right: 8px;
                &:focus {outline: none;}
                &::placeholder {color: #aaa;}
            }
            .btn-submit {width: 110px;height: 42px;background: #000;@include btn-flex;
                span {color: #fff;@include btn-flex;
                    &::after {content: '\e163';@include font-icon-rounded;font-size: 20px;margin-left: 6px;}
                }
                
            }
        }
    }
    .foot-tel {flex: 1;position: relative;z-index: 1;
        h5 {padding-left: 60px;
            &::before {content: '\e311';font-size: 48px;width: 34px;font-weight: 300;justify-content: center;display: flex;top: -6px;}
        }
        ul {display: flex;margin-bottom: 4px;flex-wrap: wrap;
            li {color: #f4f4f4;font-size: 1.7rem;display: flex;align-items: center;
                &::after {content: '';height: 15px;width: 1px;display: inline-block;background: #f4f4f4;margin: 0 10px;}
                &:last-child {
                    &::after {display: none;}
                }
            }
        }
        .foot-time {color: #aaa;font-size: 1.4rem;display: flex;align-items: center;
            &::before {content: '\e8b5';@include icon-font;font-size: 20px;margin-right: 6px;}
        }
    }
}
.footer {
    strong {margin-top: -4px;}
}

.btn-ask {height: 26px;background: #000!important;position: absolute;right: 0; top: 0;}

@media all and (min-width: 1024px) and (max-width: 1219px) {
    .main {
        .main-slide-wrap {background: #f4f4f4;
            &::before {display: none;}
            &::after {display: none}
        }
        article {padding: 16px 0 20px 0;border-bottom: 0;
            .list-slide-container {width: 100%;margin-left: auto;margin-right: auto;padding: 0;margin-bottom: 0;}
            .swiper-button-prev, 
            .swiper-container-rtl .swiper-button-next {left: -20px;}
            .swiper-button-next, 
            .swiper-container-rtl .swiper-button-prev {right: -20px;}
            &.article4 {
                .layout-inner {
                    &::after {display: none;}
                }
            }
            &.article-haf {padding: 16px 0 20px 0;}
        }
        .main-visual-container {
            .main-visual-slide {
                .slide-page {
                    .thumb-wrap {width: 61.16%;margin-right: 2%;}
                }
            }
        }  
        .main-thumb-wrap {left: 62.8%;width: 36%;}
    }
    .talk-box {
        &.type-2 {
            &::before {width: 240px;height: 134px;background-size: cover;}
        }
    }
}
@media all and (max-width: 1023px) {
    $font-size: 1.4rem;
    $font-title: 1.6rem;
    $font-title-view: 1.8rem;
    .type-pc {display: none;}
    .type-mobile {display: block;}
    .type-blank {margin-top: 20px;}
    .snb-wrap {display: none;}
    .dim-class {display: none;}
    .title-in {
        .title {font-size: $font-title;}
    }
    // 메인
    .main {
        .btn-more {position: absolute;right: 14px;}
        article {padding: 20px 0;border-bottom: 0;
            header {margin-bottom: 20px;}
            h3 {font-size: 2.2rem;}
            &.article3 {border-bottom: 0;
                // .list-slide-container>ul>li {
                //     .ico-info {
                //         li {
                //             &:nth-child(3) {margin-left: unset;}
                //             &:last-child {margin-right: 0;}
                //         }
                //     }
                // }
            }
            &.article4 {
                .layout-inner {
                    &::after {display: none;}
                }
            }
            .list-slide-container {width: 100%;margin-left: auto;margin-right: auto;padding: 0;margin-bottom: 0;
                >ul {
                    >li {
                        .cont {min-height: 208px;
                            .title {font-size: $font-title;height: 40px;}
                        }
                    }
                }
            
            }
            .title {font-size: $font-title;height: 44px;}
            .btn-more {top: 3px;}
            .swiper-button-prev, 
            .swiper-container-rtl .swiper-button-next {width: 40px;height: 40px;right: auto;left: -14px;}
            .swiper-button-next, 
            .swiper-container-rtl .swiper-button-prev {width: 40px;height: 40px;right: -11px;left: auto;background-position: -40px 0;}
            .talk-slide-wrap {
                .talk-slide-container {padding-top: 0;margin-top: 0;
                    >ul {
                        >li {
                            &::before {height: 7px;bottom: -7px;background-size: cover;}
                            &::after {width: 43px;height: 27px;background-size: cover;bottom: -27px;}
                            &:hover {margin-top: 0;}
                            .in {
                                .text {height: 98px;}
                                .title {height: 44px;}
                            }
                        }
                    }
                }
                .swiper-button-prev, 
                .swiper-container-rtl .swiper-button-next {left: 0;}
                .swiper-button-next, 
                .swiper-container-rtl .swiper-button-prev {right: 0;}
            }
            .swiper-button-next,.swiper-container-rtl .swiper-button-prev {
                width: 40px;
                height: 40px;
                right: -11px;
                left: auto;
                background-position: -40px 0;
            }
            &.article-haf {
                .layout-inner {gap: 20px;}
                .article3-1 {
                    .notice-list {
                        li {padding: 0 14px;height: 44px;}
                    }
                }
            }
            &.article1,&.article2 {
                &::after {display: none;}
            }
            &.article-haf {padding: 16px 0 20px 0;border-bottom: 0;}
        }
        .main-slide-wrap {border-bottom: 0;position: relative;background: #f4f4f4;
            &::before {display: none;}
            &::after {display: none}
        }
        .main-visual-container {
            .main-visual-slide {
                .slide-page {
                    .thumb-wrap {margin-right: 2%;width: 57.16%;}
                    .cont {
                        .title {height: 44px;}
                        .date-wrap {margin: 3px 0;
                            dt ,dd {font-size: 1.4rem;}
                        }
                        .ico-info {
                            li {font-size: 1.4rem;}
                        }
                    }
                }
            }
        }
        .main-thumb-wrap {left: 59.2%;width: 38.7%;}
        .main-slide-wrap {
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev {width: 40px;height: 40px;right: -11px;left: auto;background-position: -40px 0;}
            .swiper-button-prev, .swiper-container-rtl .swiper-button-next {width: 40px;height: 40px;right: auto;left: -14px;}
        }
        .list-slide-wrap {
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev {width: 40px;height: 40px;right: -11px;left: auto;background-position: -40px 0;}
            .swiper-button-prev, .swiper-container-rtl .swiper-button-next {width: 40px;height: 40px;right: auto;left: -14px;}
        }
        .category-area {overflow-x: scroll;
            li {margin: 0 4px 0 0;height: 26px;border-radius: 13px;
                a {font-size: 1.4rem;padding: 0 14px;}
            }
        }
        
    }
    .notice-wrap {height: 60px;
        dl {height: 60px;position: relative;padding-left: 90px;padding-right: 0;
            dt {font-size: 1.5rem;width: 90px;position: absolute;left: 0;
                i {margin-left: 5px;
                    &::before {font-size: 20px;}
                }
                &::after {display: none;}
            }
            dd {width: 100%;
                strong {font-size: 1.5rem;flex: none;width: 100%;height: 18px;}
                .flag3 {margin-right: 8px;}
                a {width: 83%;}
                .date {display: none;}
            }
        }
        .btn-more {display: none;}
    }
    .foot-link {height: 60px;background: #eaeaea;display: flex;align-items: center;gap: 7px;position: relative;
        &::before {@include bg-full;background: #eaeaea;left: 98%;}
        &::after {@include bg-full;background: #eaeaea;right: 98%;}
        a {
            img {display: block;}
        }
    }
    .foot-info-in {padding: 24px 0;gap: 20px;
        h5 {font-size: 1.8rem;height: 38px;
            ins {font-size: 1.4rem;margin-left: 6px;}
        }
        .foot-mobile {padding-right: 0;
            h5 {padding-left: 38px;
                &::before {font-size: 36px;}
            }
        }
        .foot-tel {
            h5 {padding-left: 42px;
                &::before {font-size: 36px;}
            }
        }
    }
    .footer {
        height: 200px;
    }
}

/* 모바일 가로, 테블릿 세로 */ 
@media all and (max-width: 899px) {

    // 메인
    .main {
        .main-slide-wrap {border-bottom: 0;position: relative;
            .layout-inner {padding: 0;}
            header {padding-left: 14px;}
            article {
                &.article3 {border-bottom: 0;
                    // .list-slide-container>ul>li {
                    //     .ico-info {
                    //         li {
                    //             &:nth-child(3) {margin-left: unset;}
                    //             &:last-child {margin-right: 0;}
                    //         }
                    //     }
                    // }
                }
            }
        }
        .main-visual-container {padding-bottom: 20px;margin-bottom: -20px;
            .main-visual-slide {
                .slide-page {display: block;padding: 0 14px;
                    .thumb-wrap {width: 100%;;margin-right:0;margin-bottom: 10px;}
                    .cont {padding-bottom: 0;
                        // .title {font-size: $font-title;height: 47px;}
                        .date-wrap {margin: 10px 0 14px 0;}
                        .btn-wrap {margin-bottom: 20px;
                            .btn-lg {width: 100%;}
                        }
                    }
                }
            }
        }
        .main-thumb-wrap {position: relative;width: 100%;left: 0;bottom: 0;padding: 0 14px;
            .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: -1px;}
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right: 1px;}
        }
        .main-thumb-container {/*margin: 0 14px;*/
            .main-thumb-slide {
                .slide-page {
                    // img {height: 90px;width: auto;}
                }
            }
        }
        .list-slide-wrap {
            .swiper-button-next, .swiper-button-prev {margin-top: -3%;}
        }
        .talk-slide-wrap {
            .talk-slide-container {padding-top: 0;
                >ul {
                    >li {
                        &:nth-child(2n) {margin-top: 0;}
                    }
                }
            }
            .swiper-button-prev, 
            .swiper-container-rtl .swiper-button-next {display: block;
                &.swiper-button-lock{display:none}
            }
            .swiper-button-next, 
            .swiper-container-rtl .swiper-button-prev {display: block;
                &.swiper-button-lock{display:none}
            } 
        }       
    }
    .foot-info-in {flex-direction: column;gap: 30px;}
}
@media (max-width: 570px) {
    .main {
        article {
            &.article-haf {
                .layout-inner {flex-direction: column;gap: 40px;}
            }
        }
    }
}


/* 다크모드 */
.dark-mode {

    $text-color0   : #fff;
    $text-color   : #d9d9d9;
    $text-color2  : #353535;
    $text-color3  : #969696;
    $text-color4  : #969696;
    $text-color5  : #aaa;

    // $color-point1: #c64a23;
    $color-point1-text: #f23d1e;
    // $color-point2: #000;
    // $color-point3: #40983e;
    // $color-point4: #1e8dc0;
    // $color-point5: #c0432d;
    // $color-point6: #d3872a;
    // $color-point7: #b20c15;

    $color-bg0 :#000;
    $color-bg1 :#1e1f21;
    $color-bg2 :#292a2d;
    $color-bg3 :#3c3d40;
    $color-bg4 :#363739;
    $color-bg5 :#1e1f21;
    $color-bg6 :#767676;
    
    $border-line : 1px solid #3c3d40;
    $border-line1 : 1px solid #3c3d40;
    $border-line2 : 1px solid #3c3d40;
    $border-line3 : 1px solid $text-color4;
    $border-line-bg : 1px solid $text-color5;
    $border-color : #434345;
    $btn-border : 1px solid $text-color3;

    $list-top: 1px solid #3c3d40;

    $color-disabled: $color-bg6;
    $color-disabled2: $color-bg6;

    .flag3 {
        &.new {background: none;}
    }
    
    .main {
        .main-visual-container {
            .main-visual-slide {
                .slide-page {
                    .cont {
                        .ico-info {
                            li {color: $text-color;}
                        }
                    }
                }
            }
        }
        .btn-more {
            span {color: $text-color4;}
        }

        .main-slide-wrap {
            &::before {background: $color-bg2;}
            &::after {background: $color-bg2;}
            .swiper-button-prev, 
            .swiper-container-rtl .swiper-button-next {background-image: url('../images/btn_arrow_slide_dk.png');}
            .swiper-button-next, 
            .swiper-container-rtl .swiper-button-prev {background-image: url('../images/btn_arrow_slide_dk.png');}
        }
        .main-thumb-wrap {
            .main-thumb-container {
                .main-thumb-slide {
                    .slide-page {
                        &.swiper-slide-thumb-active {
                            .thumb-wrap {
                                .thumb {
                                    &::before {border: 2px solid #fff;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .list-slide-wrap {
            .list-slide-container {
                >ul {
                    >li {border: $border-line;}
                }
            }
            .swiper-button-next,
            .swiper-container-rtl .swiper-button-prev {background-image: url('../images/btn_arrow_slide_dk.png');}
            .swiper-button-prev,
            .swiper-container-rtl .swiper-button-next {background-image: url('../images/btn_arrow_slide_dk.png');}
        }
        article {
            &.article1 {
                &::after {border-bottom: $border-line;}
            }
            &.article2 {
                &::after {border-bottom: $border-line;}
            }
            .list-slide-container {
                >ul {
                    >li {
                        .ico-info {
                            li {color: $text-color4;}
                        }
                    }
                }
            }
            &.article-haf {background: $color-bg2;
                .article3-1 {
                    .notice-list {
                        li {background: $color-bg3;
                            strong {color: $text-color;
                                &::before {background: $text-color;}
                            }
                            .date {color: $text-color4;}
                        }
                    }
                }
            
            }
        }
    }

    .date-wrap {
        dl {
            dt {color: $text-color4;}
            dd {color: $text-color4;}
        }
        &.type-3 {
            dl {
                dt {color: $text-color;}
                dd {color: $text-color;}
            }
        }
    }

    .category-area {
        li {border: $border-line;
            &.on {border: 1px solid #000;}
        }
    }

    .foot-info-in {
        &::before {z-index: 0;}
        &::after {z-index: 0;}
        .foot-mobile {z-index: 1;
            .input-wrap {
                input {border-bottom: 1px solid #000;}
            }
        }
    }

    .footer {
        .foot-info {
            address {color: $text-color4;}
            ul {
                li {color: $text-color4;}
            }
        }
    }

    .main-none-wrap {background: $color-bg2;
        p {color: $text-color;}
    }

    @media all and (min-width: 1024px) and (max-width: 1219px) {
        .main {
            .main-slide-wrap {background: $color-bg2;}
        }
    }

    @media all and (max-width: 1023px) {
        .main {
            .main-slide-wrap {background: $color-bg2;}
        }
    }
}